*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    height: 100px;
    border: 1px solid black;
}

.content-big{
    height: 100px;
    border: 1px solid black;
    padding: 20px;
}

.content-small{
    height: 50px;
    border: 1px solid black;
}

.bg-header{
    background-color: darkblue;
    padding: 10px;
}

.bg-int{
    background-color: cadetblue;
}

.bg-main{
    background-color: darkcyan;
}

.bg-footer{
    background-color: darkslateblue;
    padding: 10px;
}