*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    height: 100px;
    border: 1px solid black;
}

header,main,footer{
    padding: 10px;
}

.bg-header{
    background-color: darkblue;
}

.bg-main{
    background-color: darkcyan;
}

.bg-footer{
    background-color: darkslateblue;
}