*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    border: 1px solid black;
}

.content-img{
    border: 1px solid black;
}

.content-big{
    height: 150px;
    border: 1px solid black;
    padding: 20px;
}

.content-small{
    height: 50px;
    border: 1px solid black;
}

.bg-header{
    background-color: rgb(44, 62, 80);
    padding: 10px;
}

.bg-int{
    background-color: cadetblue;
}

.bg-main{
    background-color: rgb(26, 188, 156);
}

.bg-footer{
    background-color: darkslateblue;
    padding: 10px;
}

.img-jumbo{
    width: 150px;
    margin: 40px 0px 10px 0px;
}

.fa-star{
    margin: 10px;
    font-size: 20px;
}

.lines:after, .lines:before{
    content: '';
    width: 100px;
    height: 3px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}

.linesblack:after, .linesblack:before{
    content: '';
    width: 100px;
    height: 3px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
}

.content-img img{
    width: 100%;
}

